{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block header %}
    <a id="logo" href="https://www.siroko.com/">
        <img src="https://ciclismoepico.com/wp-content/uploads/2022/11/siroko-ciclismo-logo.jpg" alt="Siroko Logo" style="height: 50px;">
    </a>
{% endblock %}
